<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Node.js upload images</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
    <style>
      div.preview-images > img {
        width: 30%;
      }
    </style>
  </head>

  <body>
    <div class="container">
      <div class="row">
        <div class="col-sm-8 mt-3">
          <h4>User already in the database! Would you like to update?</h4>
        </div>
      </div>
      <hr />
      <div>
        <h4>User: <%= name %></h2>
        <h4>Role: <%= role %></p>
        <% if (badges) { %>    
        <% badges.forEach(function(badge) { %>
        <img src="<%= badge %>" alt="badge" />
        <% }); %>
        <% } else { %>
        <h4>No badges found for this user</h4>
        <% } %>
      </div>
      <hr />
      <form
            class="mt-4"
            action="/user-updated"
            method="POST"
            enctype="multipart/form-data"
          >
            <div class="form-group">
              <label for="name">Twitch Name</label></br>
              <input type="text" name="name" id="name" value="<%= name %>"/></br></br>
               <label for="role">Choose the role:</label>
               <select id="role" name="role" value="<%= role %>">
                 <option value="SE_Staff">SE_Staff</option>
                 <option value="DreamTeam">DeamTeam</option>
                </select></br></br>
              <label for="file">Badges</label></br>
              <input
                type="file"
                name="multiple_image"
                multiple
                id="input-files"
                class="form-control-file border"
              />
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
      <div class="row">
        <div class="col-sm-12">
          <div class="preview-images"></div>
        </div>
      </div>
    </div>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script>
      $(document).ready(function () {
        let imagesPreview = function (input, placeToInsertImagePreview) {
          if (input.files) {
            let filesAmount = input.files.length;
            for (i = 0; i < filesAmount; i++) {
              let reader = new FileReader();
              reader.onload = function (event) {
                $($.parseHTML("<img>"))
                  .attr("src", event.target.result)
                  .appendTo(placeToInsertImagePreview);
              };
              reader.readAsDataURL(input.files[i]);
            }
          }
        };
        $("#input-files").on("change", function () {
          imagesPreview(this, "div.preview-images");
        });
      });
    </script>
  </body>
</html>
